<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paradm.system.dao.dbo.TaskAuditTrailMapper">
  <resultMap id="BaseResultMap" type="com.paradm.system.entity.dbo.TaskAuditTrail">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="TASK_ID" jdbcType="BIGINT" property="taskId" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="RECORD_STATUS" jdbcType="CHAR" property="recordStatus" />
    <result column="CREATOR_ID" jdbcType="BIGINT" property="creatorId" />
    <result column="UPDATER_ID" jdbcType="BIGINT" property="updaterId" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="UPDATE_COUNT" jdbcType="INTEGER" property="updateCount" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, TASK_ID, DESCRIPTION, RECORD_STATUS, CREATOR_ID, UPDATER_ID, CREATE_DATE, UPDATE_DATE, 
    UPDATE_COUNT
  </sql>
  <select id="selectByExample" parameterType="com.paradm.system.entity.dbo.TaskAuditTrailExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from dbo.TASK_AUDIT_TRAIL
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dbo.TASK_AUDIT_TRAIL
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from dbo.TASK_AUDIT_TRAIL
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.paradm.system.entity.dbo.TaskAuditTrail">
    insert into dbo.TASK_AUDIT_TRAIL (ID, TASK_ID, DESCRIPTION, 
      RECORD_STATUS, CREATOR_ID, UPDATER_ID, 
      CREATE_DATE, UPDATE_DATE, UPDATE_COUNT
      )
    values (#{id,jdbcType=BIGINT}, #{taskId,jdbcType=BIGINT}, #{description,jdbcType=VARCHAR}, 
      #{recordStatus,jdbcType=CHAR}, #{creatorId,jdbcType=BIGINT}, #{updaterId,jdbcType=BIGINT}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, #{updateCount,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.paradm.system.entity.dbo.TaskAuditTrail">
    insert into dbo.TASK_AUDIT_TRAIL
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="taskId != null">
        TASK_ID,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS,
      </if>
      <if test="creatorId != null">
        CREATOR_ID,
      </if>
      <if test="updaterId != null">
        UPDATER_ID,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="updateDate != null">
        UPDATE_DATE,
      </if>
      <if test="updateCount != null">
        UPDATE_COUNT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="taskId != null">
        #{taskId,jdbcType=BIGINT},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=CHAR},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="updaterId != null">
        #{updaterId,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateCount != null">
        #{updateCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <insert id="insertBatch" parameterType="java.util.List">
    insert into dbo.TASK_AUDIT_TRAIL (ID, TASK_ID, DESCRIPTION, 
      RECORD_STATUS, CREATOR_ID, UPDATER_ID, 
      CREATE_DATE, UPDATE_DATE, UPDATE_COUNT
      )
    values 
    <foreach collection="list" index="index" item="item" separator=",">
      (#{item.id,jdbcType=BIGINT}, #{item.taskId,jdbcType=BIGINT}, #{item.description,jdbcType=VARCHAR}, 
        #{item.recordStatus,jdbcType=CHAR}, #{item.creatorId,jdbcType=BIGINT}, #{item.updaterId,jdbcType=BIGINT}, 
        #{item.createDate,jdbcType=TIMESTAMP}, #{item.updateDate,jdbcType=TIMESTAMP}, #{item.updateCount,jdbcType=INTEGER}
        )
    </foreach>
  </insert>
  <insert id="insertBatchSelective" parameterType="java.util.List">
    insert into dbo.TASK_AUDIT_TRAIL
    (ID, TASK_ID, DESCRIPTION, RECORD_STATUS, CREATOR_ID, UPDATER_ID, CREATE_DATE, UPDATE_DATE, 
      UPDATE_COUNT)
    values 
    <foreach collection="list" index="index" item="item" separator=",">
      <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="item.id != null">
          #{item.id,jdbcType=BIGINT},
        </if>
        <if test="item.id == null">
          NULL,
        </if>
        <if test="item.taskId != null">
          #{item.taskId,jdbcType=BIGINT},
        </if>
        <if test="item.taskId == null">
          NULL,
        </if>
        <if test="item.description != null">
          #{item.description,jdbcType=VARCHAR},
        </if>
        <if test="item.description == null">
          NULL,
        </if>
        <if test="item.recordStatus != null">
          #{item.recordStatus,jdbcType=CHAR},
        </if>
        <if test="item.recordStatus == null">
          NULL,
        </if>
        <if test="item.creatorId != null">
          #{item.creatorId,jdbcType=BIGINT},
        </if>
        <if test="item.creatorId == null">
          NULL,
        </if>
        <if test="item.updaterId != null">
          #{item.updaterId,jdbcType=BIGINT},
        </if>
        <if test="item.updaterId == null">
          NULL,
        </if>
        <if test="item.createDate != null">
          #{item.createDate,jdbcType=TIMESTAMP},
        </if>
        <if test="item.createDate == null">
          NULL,
        </if>
        <if test="item.updateDate != null">
          #{item.updateDate,jdbcType=TIMESTAMP},
        </if>
        <if test="item.updateDate == null">
          NULL,
        </if>
        <if test="item.updateCount != null">
          #{item.updateCount,jdbcType=INTEGER},
        </if>
        <if test="item.updateCount == null">
          NULL,
        </if>
      </trim>
    </foreach>
  </insert>
  <update id="updateByExampleSelective" parameterType="map">
    update dbo.TASK_AUDIT_TRAIL
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.taskId != null">
        TASK_ID = #{record.taskId,jdbcType=BIGINT},
      </if>
      <if test="record.description != null">
        DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null">
        RECORD_STATUS = #{record.recordStatus,jdbcType=CHAR},
      </if>
      <if test="record.creatorId != null">
        CREATOR_ID = #{record.creatorId,jdbcType=BIGINT},
      </if>
      <if test="record.updaterId != null">
        UPDATER_ID = #{record.updaterId,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateCount != null">
        UPDATE_COUNT = #{record.updateCount,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dbo.TASK_AUDIT_TRAIL
    set ID = #{record.id,jdbcType=BIGINT},
      TASK_ID = #{record.taskId,jdbcType=BIGINT},
      DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=CHAR},
      CREATOR_ID = #{record.creatorId,jdbcType=BIGINT},
      UPDATER_ID = #{record.updaterId,jdbcType=BIGINT},
      CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      UPDATE_COUNT = #{record.updateCount,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.paradm.system.entity.dbo.TaskAuditTrail">
    update dbo.TASK_AUDIT_TRAIL
    <set>
      <if test="taskId != null">
        TASK_ID = #{taskId,jdbcType=BIGINT},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS = #{recordStatus,jdbcType=CHAR},
      </if>
      <if test="creatorId != null">
        CREATOR_ID = #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="updaterId != null">
        UPDATER_ID = #{updaterId,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateCount != null">
        UPDATE_COUNT = #{updateCount,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.paradm.system.entity.dbo.TaskAuditTrail">
    update dbo.TASK_AUDIT_TRAIL
    set TASK_ID = #{taskId,jdbcType=BIGINT},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=CHAR},
      CREATOR_ID = #{creatorId,jdbcType=BIGINT},
      UPDATER_ID = #{updaterId,jdbcType=BIGINT},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      UPDATE_COUNT = #{updateCount,jdbcType=INTEGER}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateBatchByPrimaryKey" parameterType="java.util.List">
    update dbo.TASK_AUDIT_TRAIL
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="TASK_ID =case " suffix="end,">
        <foreach collection="list" index="index" item="item" separator=" ">
          <if test="item.taskId != null">
            when id = #{item.id} then #{item.taskId}
          </if>
          <if test="item.taskId == null">
            when id = #{item.id} then dbo.TASK_AUDIT_TRAIL.TASK_ID
          </if>
        </foreach>
      </trim>
      <trim prefix="DESCRIPTION =case " suffix="end,">
        <foreach collection="list" index="index" item="item" separator=" ">
          <if test="item.description != null">
            when id = #{item.id} then #{item.description}
          </if>
          <if test="item.description == null">
            when id = #{item.id} then dbo.TASK_AUDIT_TRAIL.DESCRIPTION
          </if>
        </foreach>
      </trim>
      <trim prefix="RECORD_STATUS =case " suffix="end,">
        <foreach collection="list" index="index" item="item" separator=" ">
          <if test="item.recordStatus != null">
            when id = #{item.id} then #{item.recordStatus}
          </if>
          <if test="item.recordStatus == null">
            when id = #{item.id} then dbo.TASK_AUDIT_TRAIL.RECORD_STATUS
          </if>
        </foreach>
      </trim>
      <trim prefix="CREATOR_ID =case " suffix="end,">
        <foreach collection="list" index="index" item="item" separator=" ">
          <if test="item.creatorId != null">
            when id = #{item.id} then #{item.creatorId}
          </if>
          <if test="item.creatorId == null">
            when id = #{item.id} then dbo.TASK_AUDIT_TRAIL.CREATOR_ID
          </if>
        </foreach>
      </trim>
      <trim prefix="UPDATER_ID =case " suffix="end,">
        <foreach collection="list" index="index" item="item" separator=" ">
          <if test="item.updaterId != null">
            when id = #{item.id} then #{item.updaterId}
          </if>
          <if test="item.updaterId == null">
            when id = #{item.id} then dbo.TASK_AUDIT_TRAIL.UPDATER_ID
          </if>
        </foreach>
      </trim>
      <trim prefix="CREATE_DATE =case " suffix="end,">
        <foreach collection="list" index="index" item="item" separator=" ">
          <if test="item.createDate != null">
            when id = #{item.id} then #{item.createDate}
          </if>
          <if test="item.createDate == null">
            when id = #{item.id} then dbo.TASK_AUDIT_TRAIL.CREATE_DATE
          </if>
        </foreach>
      </trim>
      <trim prefix="UPDATE_DATE =case " suffix="end,">
        <foreach collection="list" index="index" item="item" separator=" ">
          <if test="item.updateDate != null">
            when id = #{item.id} then #{item.updateDate}
          </if>
          <if test="item.updateDate == null">
            when id = #{item.id} then dbo.TASK_AUDIT_TRAIL.UPDATE_DATE
          </if>
        </foreach>
      </trim>
      <trim prefix="UPDATE_COUNT =case " suffix="end,">
        <foreach collection="list" index="index" item="item" separator=" ">
          <if test="item.updateCount != null">
            when id = #{item.id} then #{item.updateCount}
          </if>
          <if test="item.updateCount == null">
            when id = #{item.id} then dbo.TASK_AUDIT_TRAIL.UPDATE_COUNT
          </if>
        </foreach>
      </trim>
    </trim>
    where ID in 
    <foreach close=")" collection="list" index="index" item="item" open="(" separator=",">
       #{item.id} 
    </foreach>
  </update>
  <update id="updateBatchByPrimaryKeySelective" parameterType="java.util.List">
    update dbo.TASK_AUDIT_TRAIL
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="TASK_ID =case id" suffix="end,">
        <foreach collection="list" index="index" item="item" separator=" ">
          <if test="item.taskId != null ">
            when  #{item.id} then #{item.taskId}
          </if>
          <if test="item.taskId == null ">
            when  #{item.id} then dbo.TASK_AUDIT_TRAIL.TASK_ID
          </if>
        </foreach>
      </trim>
      <trim prefix="DESCRIPTION =case id" suffix="end,">
        <foreach collection="list" index="index" item="item" separator=" ">
          <if test="item.description != null ">
            when  #{item.id} then #{item.description}
          </if>
          <if test="item.description == null ">
            when  #{item.id} then dbo.TASK_AUDIT_TRAIL.DESCRIPTION
          </if>
        </foreach>
      </trim>
      <trim prefix="RECORD_STATUS =case id" suffix="end,">
        <foreach collection="list" index="index" item="item" separator=" ">
          <if test="item.recordStatus != null ">
            when  #{item.id} then #{item.recordStatus}
          </if>
          <if test="item.recordStatus == null ">
            when  #{item.id} then dbo.TASK_AUDIT_TRAIL.RECORD_STATUS
          </if>
        </foreach>
      </trim>
      <trim prefix="CREATOR_ID =case id" suffix="end,">
        <foreach collection="list" index="index" item="item" separator=" ">
          <if test="item.creatorId != null ">
            when  #{item.id} then #{item.creatorId}
          </if>
          <if test="item.creatorId == null ">
            when  #{item.id} then dbo.TASK_AUDIT_TRAIL.CREATOR_ID
          </if>
        </foreach>
      </trim>
      <trim prefix="UPDATER_ID =case id" suffix="end,">
        <foreach collection="list" index="index" item="item" separator=" ">
          <if test="item.updaterId != null ">
            when  #{item.id} then #{item.updaterId}
          </if>
          <if test="item.updaterId == null ">
            when  #{item.id} then dbo.TASK_AUDIT_TRAIL.UPDATER_ID
          </if>
        </foreach>
      </trim>
      <trim prefix="CREATE_DATE =case id" suffix="end,">
        <foreach collection="list" index="index" item="item" separator=" ">
          <if test="item.createDate != null ">
            when  #{item.id} then #{item.createDate}
          </if>
          <if test="item.createDate == null ">
            when  #{item.id} then dbo.TASK_AUDIT_TRAIL.CREATE_DATE
          </if>
        </foreach>
      </trim>
      <trim prefix="UPDATE_DATE =case id" suffix="end,">
        <foreach collection="list" index="index" item="item" separator=" ">
          <if test="item.updateDate != null ">
            when  #{item.id} then #{item.updateDate}
          </if>
          <if test="item.updateDate == null ">
            when  #{item.id} then dbo.TASK_AUDIT_TRAIL.UPDATE_DATE
          </if>
        </foreach>
      </trim>
      <trim prefix="UPDATE_COUNT =case id" suffix="end,">
        <foreach collection="list" index="index" item="item" separator=" ">
          <if test="item.updateCount != null ">
            when  #{item.id} then #{item.updateCount}
          </if>
          <if test="item.updateCount == null ">
            when  #{item.id} then dbo.TASK_AUDIT_TRAIL.UPDATE_COUNT
          </if>
        </foreach>
      </trim>
    </trim>
    where ID in 
    <foreach close=")" collection="list" index="index" item="item" open="(" separator=",">
       #{item.id} 
    </foreach>
  </update>
  <update id="updateBatchByExample" parameterType="map">
    update dbo.TASK_AUDIT_TRAIL
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="taskId =case id" suffix="end,">
        <foreach collection="recordList" index="index" item="item" separator=" ">
          when  #{item.id} then #{item.taskId}
        </foreach>
      </trim>
      <trim prefix="description =case id" suffix="end,">
        <foreach collection="recordList" index="index" item="item" separator=" ">
          when  #{item.id} then #{item.description}
        </foreach>
      </trim>
      <trim prefix="recordStatus =case id" suffix="end,">
        <foreach collection="recordList" index="index" item="item" separator=" ">
          when  #{item.id} then #{item.recordStatus}
        </foreach>
      </trim>
      <trim prefix="creatorId =case id" suffix="end,">
        <foreach collection="recordList" index="index" item="item" separator=" ">
          when  #{item.id} then #{item.creatorId}
        </foreach>
      </trim>
      <trim prefix="updaterId =case id" suffix="end,">
        <foreach collection="recordList" index="index" item="item" separator=" ">
          when  #{item.id} then #{item.updaterId}
        </foreach>
      </trim>
      <trim prefix="createDate =case id" suffix="end,">
        <foreach collection="recordList" index="index" item="item" separator=" ">
          when  #{item.id} then #{item.createDate}
        </foreach>
      </trim>
      <trim prefix="updateDate =case id" suffix="end,">
        <foreach collection="recordList" index="index" item="item" separator=" ">
          when  #{item.id} then #{item.updateDate}
        </foreach>
      </trim>
      <trim prefix="updateCount =case id" suffix="end,">
        <foreach collection="recordList" index="index" item="item" separator=" ">
          when  #{item.id} then #{item.updateCount}
        </foreach>
      </trim>
    </trim>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateBatchByExampleSelective" parameterType="map">
    update dbo.TASK_AUDIT_TRAIL
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="taskId =case id" suffix="end,">
        <foreach collection="recordList" index="index" item="item" separator=" ">
          <if test="item.taskId != null ">
            when  #{item.id} then #{item.taskId}
          </if>
          <if test="item.taskId == null ">
            when  #{item.id} then dbo.TASK_AUDIT_TRAIL.TASK_ID
          </if>
        </foreach>
      </trim>
      <trim prefix="description =case id" suffix="end,">
        <foreach collection="recordList" index="index" item="item" separator=" ">
          <if test="item.description != null ">
            when  #{item.id} then #{item.description}
          </if>
          <if test="item.description == null ">
            when  #{item.id} then dbo.TASK_AUDIT_TRAIL.DESCRIPTION
          </if>
        </foreach>
      </trim>
      <trim prefix="recordStatus =case id" suffix="end,">
        <foreach collection="recordList" index="index" item="item" separator=" ">
          <if test="item.recordStatus != null ">
            when  #{item.id} then #{item.recordStatus}
          </if>
          <if test="item.recordStatus == null ">
            when  #{item.id} then dbo.TASK_AUDIT_TRAIL.RECORD_STATUS
          </if>
        </foreach>
      </trim>
      <trim prefix="creatorId =case id" suffix="end,">
        <foreach collection="recordList" index="index" item="item" separator=" ">
          <if test="item.creatorId != null ">
            when  #{item.id} then #{item.creatorId}
          </if>
          <if test="item.creatorId == null ">
            when  #{item.id} then dbo.TASK_AUDIT_TRAIL.CREATOR_ID
          </if>
        </foreach>
      </trim>
      <trim prefix="updaterId =case id" suffix="end,">
        <foreach collection="recordList" index="index" item="item" separator=" ">
          <if test="item.updaterId != null ">
            when  #{item.id} then #{item.updaterId}
          </if>
          <if test="item.updaterId == null ">
            when  #{item.id} then dbo.TASK_AUDIT_TRAIL.UPDATER_ID
          </if>
        </foreach>
      </trim>
      <trim prefix="createDate =case id" suffix="end,">
        <foreach collection="recordList" index="index" item="item" separator=" ">
          <if test="item.createDate != null ">
            when  #{item.id} then #{item.createDate}
          </if>
          <if test="item.createDate == null ">
            when  #{item.id} then dbo.TASK_AUDIT_TRAIL.CREATE_DATE
          </if>
        </foreach>
      </trim>
      <trim prefix="updateDate =case id" suffix="end,">
        <foreach collection="recordList" index="index" item="item" separator=" ">
          <if test="item.updateDate != null ">
            when  #{item.id} then #{item.updateDate}
          </if>
          <if test="item.updateDate == null ">
            when  #{item.id} then dbo.TASK_AUDIT_TRAIL.UPDATE_DATE
          </if>
        </foreach>
      </trim>
      <trim prefix="updateCount =case id" suffix="end,">
        <foreach collection="recordList" index="index" item="item" separator=" ">
          <if test="item.updateCount != null ">
            when  #{item.id} then #{item.updateCount}
          </if>
          <if test="item.updateCount == null ">
            when  #{item.id} then dbo.TASK_AUDIT_TRAIL.UPDATE_COUNT
          </if>
        </foreach>
      </trim>
    </trim>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>